<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    body {
      background-image: url('https://static.tildacdn.com/tild3263-6630-4131-a532-663066323764/gotham_25_9296_oboi_.jpg'); /* Укажите путь к изображению Mustang */
      background-size: cover;
      color: white;
    }
    #cars {
      width: 50%;

      position: absolute;
      top: 100%;

    }
  </style>
</head>
<body>
<form th:action="@{/list}" method="post">
  <div class="conf">
      <table id="cars">
        <tr>
          <th>ID</th>
          <th>Manufacturer</th>
          <th>Year</th>
          <th>Model</th>
          <th>Price</th>
          <th>Km</th>
          <th>Extra</th>
        </tr>
        <tr th:each="car : ${carList}">
          <td th:text="${car.id}"></td>
          <td th:text="${car.manufacturer}"></td>
          <td th:text="${car.year}"></td>
          <td th:text="${car.model}"></td>
          <td th:text="${car.price}"></td>
          <td th:text="${car.kmTraveled}"></td>
          <td th:text="${car.extraInfo}"></td>
        </tr>
      </table>
  </div>
</form>
</body>
</html>